form{
    border: solid 1px;
    width: 600px;
    background-color: #eded088d;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 340px;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: navy;
}
input{
    width: 500px;
    height: 30px;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
}
textarea{
    width: 500px;
    height: 120px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
}
h1{
    font-size: 40px;
    color: navy;
    text-align: center;
}
p{
    font-size: 20px;
}
button{
    width: 160px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    font-size: 28px;
}
button a{
    color: aliceblue;
    text-decoration: none;
}
body{
    background-image: linear-gradient(black,gray,white);
}